<strong>Metro Theme Settings</strong>
<fieldset>
	<p>
		<label for="email">Email Link</label><br />
		<input name="email" type="text" value="<%= @model.setting('email') %>" />
	</p>
	
	<p>
		<label for="twitter">Twitter Profile Url</label><br />
		<textarea name="twitter"><%= @model.setting('twitter') %></textarea>
	</p>

	<p>
		<label for="linkedin">LinkedIn Profile Url</label><br />
		<textarea name="linkedin"><%= @model.setting('linkedin') %></textarea>
	</p>

	<p>
		<label for="facebook">Facebook Profile Url</label><br />
		<textarea name="facebook"><%= @model.setting('facebook') %></textarea>
	</p>

	<p>
		<label for="facebook">Facebook Profile Url</label><br />
		<textarea name="facebook"><%= @model.setting('facebook') %></textarea>
	</p>
</fieldset>