<% content_for :thetitle do %>Configure Artigo Settings<% end %>

<% form_tag admin_config_path, { :class => "form-horizontal" } do -%>
    <fieldset>
        <legend>Change settings for your blog</legend>
        <input type="hidden" name="app_theme" value="<%= artigo_config('app_theme') %>" />
        <div class="control-group">
        	<label class="control-label">Site Title:</label>
            <div class="controls">
                <input class="span5" type="text" name="site_title" value="<%= artigo_config('site_title') %>" />
                <p class="help-block">This is the text that will appear at the top of your blog.</p>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">&lt;HEAD&gt; Title:</label>
            <div class="controls">
                <input class="span5" type="text" name="head_title" value="<%= artigo_config('head_title') || '' %>" />
                <p class="help-block">This is the text that will appear in the HTML of your blog.</p>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Site Description:</label>
            <div class="controls">
                <textarea class="span5" name="site_description"><%= artigo_config('site_description') || '' %></textarea>
                <p class="help-block">A short description of your blog. Used in &lt;meta /&gt; tags. Some themes also use this text in their layouts.</p>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Number of blog posts to show per page:</label>
            <div class="controls">
                <select name="posts_per_page" class="span5">
                    <%- ppr = artigo_config('posts_per_page') -%>
                    <%- [3,5,7,10,15,20,25,50,100].each do |opt| -%>
                        <option value="<%= opt %>" <%=raw "selected" if ppr == opt %>><%= opt %></option>
                    <%- end -%>
                </select>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Google Analytics Code:</label>
            <div class="controls">
                <input class="span5" type="text" name="google_analytics" value="<%= artigo_config('google_analytics') || '' %>" />
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Disqus Account Name:</label>
            <div class="controls">
                <input class="span5" type="text" name="disqus_account" value="<%= artigo_config('disqus_account') || '' %>" />
            </div>
        </div>

        <div class="control-group actions">
            <div class="actions">
                <input type="submit" value="Please, save my changes" class="btn" />
            </div>
        </div>
    </fieldset>
<% end %>
