<% content_for :thetitle do %>Configure Artigo<% end %>
<p>Here is where you can change all the settings for Artigo.</p>
<p><big>Site Options</big></p>
<% form_tag admin_config_path, { :class => "form-stacked" } do -%>

	<input type="hidden" name="app_theme" value="<%= artigo_config('app_theme') %>" />
	<fieldset>
		<div class="clearfix">
        <label>Site Title:</label>
        <div class="input">
            <input type="text" name="site_title" value="<%= artigo_config('site_title') %>" />
        </div>
    </div>
		<div class="clearfix">
        <label>&lt;HEAD&gt; Title:</label>
        <div class="input">
            <input type="text" name="head_title" value="<%= artigo_config('head_title') || '' %>" />
        </div>
    </div>
    <div class="clearfix">
        <label>Site Description:</label>
        <div class="input">
            <textarea name="site_description"><%= artigo_config('site_description') || '' %></textarea>
        </div>
    </div>
    <div class="clearfix">
        <label>Number of blog posts to show per page:</label>
        <div class="input">
            <select name="posts_per_page">
							<option value="3" <%=raw "selected" if artigo_config('posts_per_page') == "3" %>>3</option>
							<option value="5" <%=raw "selected" if artigo_config('posts_per_page') == "5" %>>5</option>
							<option value="7" <%=raw "selected" if artigo_config('posts_per_page') == "7" %>>7</option>
							<option value="10" <%=raw "selected" if artigo_config('posts_per_page') == "10" %>>10</option>
							<option value="15" <%=raw "selected" if artigo_config('posts_per_page') == "15" %>>15</option>
							<option value="20" <%=raw "selected" if artigo_config('posts_per_page') == "20" %>>20</option>
							<option value="25" <%=raw "selected" if artigo_config('posts_per_page') == "25" %>>25</option>
							<option value="50" <%=raw "selected" if artigo_config('posts_per_page') == "50" %>>50</option>
							<option value="100" <%=raw "selected" if artigo_config('posts_per_page') == "100" %>>100</option>
						</select>
        </div>
    </div>
    <div class="clearfix">
        <label>Disqus Account Name:</label>
        <div class="input">
            <input type="text" name="disqus_account" value="<%= artigo_config('disqus_account') || '' %>" />
        </div>
    </div>
    <div class="clearfix">
        <label>Google Analytics Code:</label>
        <div class="input">
            <input type="text" name="google_analytics" value="<%= artigo_config('google_analytics') || '' %>" />
        </div>
    </div>
    <div class="actions">
    	<input type="submit" value="Please, save my changes" class="btn" />
    </div>
	</fieldset>
<% end %>
