
<% content_for :thetitle do %>
The Admin Area
<% end %>

<p>
  <em>Shhhhhhhh!</em> This is a secret area. Here you can manage just about every piece
  of your Artigo installation.
</p>

<ul class="tabs" data-tabs="tabs">
  <li class="active"><a href="#posts">Manage Posts</a></li>
  <li><a href="#config">Configure Your Blog</a></li>
  <li><a href="#themes">Appearance</a></li>
</ul>

<div id="tab-content" class="tab-content">
    <div id="posts" class="tab-pane active">
        <strong>
          <%= link_to "Create a new post", new_admin_post_path %>
        </strong>
        <p>Create a brand spanking new post. Look at it, all shiny and new and stuff.</p>

        <strong>
          <%= link_to "Import posts", new_admin_import_path %>
        </strong>
        <p>Add posts from another blog. It's ok, I won't tell them you're moving on.</p>

        <strong>
          <%= link_to "Manage your posts", admin_posts_path %>
        </strong>
        <p>Save yourself some clicks. Go here to publish, unpublish, or delete a bunch of posts at a time.</p>
    </div>
    <div id="config" class="tab-pane">
        <strong>
          <%= link_to "Tidy up a bit", admin_tidyup_path %>
           <span style="color: red">Advanced Users Only!</span>
        </strong>
        <p>Things getting out of hand? I understand. Go here to clean up your blog.</p>

        <strong>
          <%= link_to "Change site settings", admin_config_edit_path %>
        </strong>
        <p>Artigo is all about you. Make your copy <em>your</em> copy.</p>

        <strong>
          <%= link_to "Change your password", edit_admin_password_path %>
        </strong>
        <p>Password smelling a bit stale? Freshen it up right over here!</p>
    </div>
    <div id="themes" class="tab-pane">
        <strong>Change things up</strong>. Here you can pick a new theme for your Artigo blog.
        <% @model.themes.each do |theme| %>
          <div class="theme <%= "selected" if theme.title == artigo_config("app_theme") %>" >
            <img src="<%= theme.image %>" />
            <h3><%= theme.title %></h3>
            <p><%= raw theme.description ||= "no description provided." %></p>

            <div>
              <div class="selecttheme">
                <button class="themepicker btn" theme="<%= theme.title %>">Use this theme!</button>
                <span class="ajax status">Changing theme...</span>
                <%= link_to "Configure", :controller => "admin/theme_settings", :action => "edit", :theme => theme.title if theme.has_settings %>
              </div>
              <div class="selectedtheme">
                <strong>This is your current theme</strong>
                <%= link_to "Configure", :controller => "admin/theme_settings", :action => "edit", :theme => theme.title if theme.has_settings %>
              </div>
            </div>
            <div class="clear"></div>
          </div>
          <div class="clear"></div>
        <% end %>
    </div>
</div>

<% content_for :thebottom do %>
  <p>
    <big>Blog stats:</big> <%= @model.total_posts_public %> posts are public,
    <%= @model.total_posts_private %> are private.
  </p>
<% end %>
