
<% content_for :thetitle do %>
The Admin Area
<% end %>

<p>
	<em>Shhhhhhhh!</em> This is a secret area. Here you can manage just about every piece 
	of your Artigo installation.
</p>
<div class="tabs">
    <ul>
        <li><a href="#posts">Manage Posts</a></li>
        <li><a href="#config">Configure Your Blog</a></li>
		<li><a href="#themes">Appearance</a></li>
    </ul>
    <div id="posts">
        <strong><a href="/admin/import">Import posts</a></strong>
        <p>Add posts from another blog. It's ok, I won't tell them you're moving on.</p>

        <strong><a href="/admin/posts">Manage your posts</a></strong>
        <p>Save yourself some clicks. Go here to publish, unpublish, or delete a bunch of posts at a time.</p>
    </div>
    <div id="config">
        <strong><a href="/admin/tidyup">Tidy up a bit</a> <span style="color: red">Advanced Users Only!</span></strong>
        <p>Things getting out of hand? I understand. Go here to clean up your blog.</p>

        <strong><a href="/admin/config">Change site settings</a></strong>
        <p>Artigo is all about you. Make your copy <em>your</em> copy.</p>

        <strong><a href="/admin/changepassword">Change your password</a></strong>
        <p>Password smelling a bit stale? Freshen it up right over here!</p>
    </div>
	<div id="themes">
		<strong>Change things up</strong>. Here you can pick a new theme for your Artigo blog.
		<% @model.themes.each do |theme| %>
			<div class="theme <%= "selected" if theme.title == Artigo::CONFIG["app_theme"].first %>" >
				<img src="<%= theme.image %>" />
				<h3><%= theme.title %></h3>
				<p><%= raw theme.description ||= "no description provided." %></p>
				
				<div class="selecttheme">
					<button class="themepicker" theme="<%= theme.title %>">Use this theme!</button>
					<span class="ajax status">Changing theme...</span>
				</div>
				<div class="selectedtheme">
					<strong>This is your current theme</strong>
				</div>
			</div>
			<div class="clear"></div>
		<% end %>
	</div>
</div>
<% content_for :thebottom do %>
	<p>
		<big>Blog stats:</big> <%= @model.total_posts_public %> posts are public, 
		<%= @model.total_posts_private %> are private.
	</p>
<% end %>