
<% content_for :thetitle do %>The Admin Area<% end %>

<p>
  <em>Shhhhhhhh!</em> This is a secret area. Here you can manage just about every piece
  of your Artigo installation.
</p>

<div class="tabbable">
  <ul class="nav nav-tabs">
    <li class="active"><a href="#main" data-toggle="tab">Dashboard</a></li>
    <li><a href="#posts" data-toggle="tab">Manage Posts</a></li>
    <li><a href="#config" data-toggle="tab">Configure Your Blog</a></li>
    <li><a href="#themes" data-toggle="tab">Appearance</a></li>
  </ul>

  <div class="tab-content">
      <div id="main" class="tab-pane active">
        <div class="row-fluid">
          <div class="span4">
            <div id="recentcomments" class="dsq-widget">
              <h2 class="dsq-widget-title">Recent Comments</h2>
              <script type="text/javascript" src="http://<%= artigo_config('disqus_account') %>.disqus.com/recent_comments_widget.js?num_items=5&hide_avatars=0&avatar_size=32&excerpt_length=200"></script>
            </div>
            <a href="http://disqus.com/">Powered by Disqus</a>​
          </div>
          <div class="span4">
            <h2>Recent Posts</h2>
            <% cache("recent_posts") do %>
              <% Post.public.recent.each do |post| %>
                <div>
                <%= link_to raw(post.title), permalink(post) %>
                <% if !post.summary.empty? %>
                  <div id="summary"><%= post.summary %></div>
                <% end %>
                </div>
              <% end %>
            <% end %>
          </div>
          <div class="span4">
            <div id="topcommenters" class="dsq-widget">
              <h2 class="dsq-widget-title">Top Commenters</h2>
              <script type="text/javascript" src="http://<%= artigo_config('disqus_account') %>.disqus.com/top_commenters_widget.js?num_items=5&hide_mods=0&hide_avatars=0&avatar_size=32"></script>
            </div>
            <a href="http://disqus.com/">Powered by Disqus</a>​
          </div>
        </div>
        <div class="row-fluid">
          <div class="span4">
            <div id="popularthreads" class="dsq-widget">
              <h2 class="dsq-widget-title">Popular Posts</h2>
              <script type="text/javascript" src="http://<%= artigo_config('disqus_account') %>.disqus.com/popular_threads_widget.js?num_items=5"></script>
            </div>
            <a href="http://disqus.com/">Powered by Disqus</a>
          </div>
          <div class="span4">
            <h2>Tags</h2>
            <ul class="tags">
            <% tag_cloud(@tags, %w(css1 css2 css3 css4)) do |tag, css_class| %>
              <li>
                <a href="/tags/<%= tag.name %>" class="<%= css_class %>"><%= tag.name %></a>
              <li>
            <% end %>
            </ul>
          </div>
          <div class="span4">
            <h2>Heading</h2>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
            <p><a class="btn" href="#">View details »</a></p>
          </div>
        </div>
      </div>
      <div id="posts" class="tab-pane">
        <%= render :partial => "posts_tab" %>
      </div>
      <div id="config" class="tab-pane">
          <%= render :partial => "config_tab" %>
      </div>
      <div id="themes" class="tab-pane">
          <%= render :partial => 'theme_tab' %>
      </div>
  </div>
</div>
