<% @post = @model.content %>
<% content_for :title do %>
<%=raw @post.title %>
<% end %>

<div class="post type-post hentry category-release">
	<div class="entry-header">
		<h3 class="entry-title">
			<%=raw @post.title %> <% if logged_in? %><small>( <%= link_to "Edit", edit_post_link(@post) %> )</small><% end %>
		</h3>
		<div class="entry-meta">
			<small>Written on <%=h @post.created_at.strftime("%A, %B %d, %Y") %></small>
		</div>
	</div>
	<p id="summary">
		<%=raw @post.summary %>
	</p>
	<div class="entry-content">
		<%=raw @post.body %>
	</div>
</div>

<%= link_to 'Back', posts_path %>
<br />
<h2>Let's talk about this</h2>
<p><%= "Comments will show when the blog is running in production mode." if is_dev? %></p>
<% render :partial => 'shared/comments' %>
<p>&nbsp;</p>
