<% content_for :title do %>
<%=raw @post.title %>
<% end %>

<div class="post">
	<h1><%= raw @post.title %> <% if logged_in? %><small>( <%= link_to "Edit", edit_post_path(@post, :area => "admin") %> )</small><% end %></h1>
	<div class="postinfo">
		<span class="postdate"><%=h @post.created_at.strftime("%A, %B %d, %Y") %></span>
	</div>
	<div class="postdata">
		<%= raw @post.body %>
	</div>
</div>
<%= link_to 'Back', posts_path %>
<br />
<h2>Let's talk about this</h2>
<p><%= "Comments will show when the blog is running in production mode." if is_dev? %></p>
<% if !is_dev? %>
	<div id="disqus_thread"></div>
	<script type="text/javascript">
		var disqus_identifier = <%= @post.id %>;
	</script>
    <script type="text/javascript" src="http://<%= Artigo::CONFIG['disqus_account'].first %>.disqus.com/embed.js"></script>
	<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<% end %>
<p>&nbsp;</p>
