<% if f.error_messages %><%= f.error_messages %><% end %>

<div id="post" class="new">
    <fieldset>
        <legend>Create a new post</legend>
        <div class="control-group">
            <label class="control-label">Title:</label>
            <div class="controls">
                <%= f.text_field :title, :class => "span5" %>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">Summary:</label>
            <div class="controls">
                <%= f.text_area :summary, :class => "span5" %>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">Body</label>
            <div class="controls">
                <%= f.text_area :body %>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">Tags:</label>
            <div class="controls">
                <%= f.text_field :tags, :value => post.tag_list.join(','), :class => "span5", 'data-items' => '10', 'data-provide' => "typeahead", 'data-source' => "[#{tags.map{|t| "\"#{t}\"" }.join(',')}]", 'data-mode' => 'multiple' %>
            </div>
        </div>
    </fieldset>
</div>
<div class="actions">
    <%= f.submit 'Save Post', :class => "btn" %>
</div>


<%= content_for :foot do %>
    <%= javascript_include_tag "jquery.autocomplete.pack",
        defined?(LOAD_FULL_CKEDITOR) && LOAD_FULL_CKEDITOR ? "ckeditor/ckeditor_source": "ckeditor/ckeditor",
        "ckeditor/adapters/jquery",
        "artigo-edit",
        "artigo-ckeditor", :cache => "post_form" %>
<% end %>
