<% if f.error_messages %>
<%= f.error_messages %>
<% end %>


<div id="post" class="new">
    <div class="clearfix">
        <label>Title:</label>
        <div class="input">
            <%= f.text_field :title, :class => "span12" %>
        </div>
    </div>

    <div class="clearfix">
        <label>Summary:</label>
        <div class="input">
            <%= f.text_area :summary, :class => "span12" %>
        </div>
    </div>

    <div class="clearfix">
        <div class="input">
            <%= f.text_area :body %>
        </div>
    </div>

    <div class="clearfix">
        <label>Tags:</label>
        <div class="input">
            <%= f.text_field :tags, :value => post.tag_list.join(','), :class => "span12" %>
        </div>
    </div>
</div>
<div class="actions">
    <%= f.submit 'Save Post', :class => "btn" %>
</div>


<%= content_for :foot do %>
    <%= javascript_include_tag "jquery.autocomplete.pack",
        defined?(LOAD_FULL_CKEDITOR) && LOAD_FULL_CKEDITOR ? "ckeditor/ckeditor_source": "ckeditor/ckeditor",
        "ckeditor/adapters/jquery",
        "artigo-edit",
        "artigo-ckeditor", :cache => "post_form" %>

    <%= render :partial => "admin/posts/tag_autocomplete", :locals => { :tags => tags } %>
<% end %>
