<% if f.error_messages %><%= f.error_messages %><% end %>
<% show_view_link ||= false %>
<div id="post" class="new">
    <fieldset>
        <legend>Make your changes and then click "save post"</legend>

        <div class="control-group">
            <div class="controls">
                <%= f.text_field :title, :class => "span7 post-title" %>
                <p class="help-block">post url: <%= artigo_config('blog_url') %>/<span id="url-preview"><%= permalink(@post) %></span> <%= link_to "View Post", permalink(@post), :class => "btn", :target => "_blank" if show_view_link %>
             </p>
            </div>
        </div>

        <div class="control-group">
            <div class="controls">
                <%= render :partial => 'body_editor', :locals => { :post => post, :form => f } %>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">Tags:</label>
            <div class="controls">
                <%= f.text_field :tags, :value => post.tag_list.join(','), :class => "span7", 'data-items' => '10', 'data-provide' => "typeahead", 'data-source' => "[#{tags.map{|t| "\"#{t}\"" }.join(',')}]", 'data-mode' => 'multiple' %>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">Summary:</label>
            <div class="controls">
                <%= f.text_area :summary, :class => "span7" %>
            </div>
        </div>
    </fieldset>
</div>

<%= content_for :sidebar do %>
    <div class="btn-group">
        <%= f.submit 'Save Post', :class => "btn btn-primary", :id => "save" %>
        <%= link_to "View Post", permalink(@post), :class => "btn", :target => "_blank" if show_view_link %>
    </div>
<% end %>

<%= content_for :foot do %>
    <%= javascript_include_tag "pagedown/Markdown.Converter",
        "pagedown/Markdown.Sanitizer",
        "pagedown/Markdown.Editor",
        :cache => "post_form" %>

    <script type="text/javascript">
        (function () {
            var converter1 = Markdown.getSanitizingConverter();
            var editor1 = new Markdown.Editor(converter1);
            editor1.run();
        })();
    </script>
<% end %>
