<% if f.error_messages %>
<%= f.error_messages %>
<% end %>


<div id="post" class="new">
    <div class="clearfix">
        <label>Title:</label>
        <div class="input">
            <%= f.text_field :title, :class => "span12" %>
        </div>
    </div>

    <div class="clearfix">
        <label>Summary:</label>
        <div class="input">
            <%= f.text_area :summary, :class => "span12" %>
        </div>
    </div>

    <div class="clearfix">
        <div class="input">
            <%= render :partial => 'body_editor', :locals => { :post => post, :form => f } %>
        </div>
    </div>

    <div class="clearfix">
        <label>Tags:</label>
        <div class="input">
            <%= f.text_field :tags, :value => post.tag_list.join(','), :class => "span12" %>
        </div>
    </div>
</div>
<div class="actions">
    <%= f.submit 'Save Post', :class => "btn" %>
</div>


<%= content_for :foot do %>
    <%= javascript_include_tag "jquery.autocomplete.pack",
        "artigo-edit",
        "pagedown/Markdown.Converter",
        "pagedown/Markdown.Sanitizer",
        "pagedown/Markdown.Editor",
        "artigo-ckeditor", :cache => "post_form" %>

    <script type="text/javascript">
        (function () {
            var converter1 = Markdown.getSanitizingConverter();
            var editor1 = new Markdown.Editor(converter1);
            editor1.run();
        })();
    </script>

    <%= render :partial => "admin/posts/tag_autocomplete", :locals => { :tags => tags } %>
<% end %>
