<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
	<% if content_exists?(:title)-%>
    <title><%= artigo_config("head_title") %> - <%= content_for :title %></title>
  <% end -%>

	<link rel="stylesheet" href="<%= Artigo.theme_dir %>/metro.css" />
	<link rel="stylesheet" href="<%= Artigo.theme_dir %>/prettify.css" />

	<link rel="alternate" type="application/rss+xml" title="RSS" href="/rss" />
	<%= content_for :head %>
</head>
<body>
<div class="container">
		<div class="header left">
			<h1><a href="/"><%= artigo_config("site_title") %></a></h1>
			<span><%= artigo_config("site_description") %></span>
		</div>
		<div class="nav right">
			<a href="mailto:<%= @model.get_opt('email') %>" class="socialLink email" title="Contact Me"><span>Email Me</span></a>
			<a href="<%= @model.get_opt('twitter') %>" target="_blank" class="socialLink twitter" title="Follow me on Twitter"><span>Follow me on Twitter</span></a>
			<a href="<%= @model.get_opt('linkedin') %>" target="_blank" class="socialLink linkedin" title="View my profile on Linked In"><span>View my profile on Linked In</span></a>
			<a href="<%= @model.get_opt('facebook') %>" target="_blank" class="socialLink facebook" title="Find me on Facebook"><span>Find me on Facebook</span></a>
			<a href="/rss" target="_blank" class="socialLink rss" title="Subscribe to my RSS Feed"><span>Subscribe to my RSS Feed</span></a>
		</div>
		<div class="main clear">
			<div class="posts left">
				<%= yield %>
			</div>
			<div class="sidebarcontainer right">
				<div class="sidebar">
					<div class="sidebaritem">
						<h2>about me</h2>
						<div>
							<p><%= raw @model.get_opt('about') %></p>
						</div>
					</div>
					<div class="sidebaritem">
						<div class="softwarenotice ">Unless otherwise noted, source code on this blog is Licensed under the Open Software License version 3.0.</div>
					</div>
				</div>
			</div>
			<div class="clear"></div>
			<div class="footer">
				<%= content_for :thebottom %>
			</div>
			<div class="clear" style="height: 30px;"></div>
		</div>
	</div>
	<%= yield :foot %>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
	<script type="text/javascript" src="<%= Artigo.theme_dir %>/js/urlEncode.js"></script>
	<script type="text/javascript" src="<%= Artigo.theme_dir %>/js/prettify.js"></script>
	<script type="text/javascript" src="<%= Artigo.theme_dir %>/js/metro.js"></script>
</body>
</html>
