<p class="<%= 'hidden' if @post.published %> publish">
	This post is currently <strong style="color: red">private</strong>. You need to publish the post before visitors will be able to see it.
	It is recommended that you choose a different date to use when you publish this article.<br /><br />You can use
	<select name="date_type" id="date_type"><option value="default">the current post date</option><option value="today">todays date</option><option value="custom">a custom date</option></select>
	<input name="post_created_at" id="post_created_at" value="<%= @post.created_at.strftime('%m/%d/%Y') %>" class="hidden" /> then <button id="publish">publish</button> your post.
</p>
<p class="<%= 'hidden' unless @post.published %> unpublish">
	This post is currently <strong style="color: green">public</strong>. You can <button id="unpublish">unpublish</button> it to disable access to it.
</p>
<p id="publish_warning" class="hidden">
	<big>Wait a tick!</big> You've published this post with a newer/different date than it originally had. You really should go to the new permalink url <code class="permalink"></code>. 
	Go there now by clicking <a href="#" class="permalink">this link</a>.
</p>

<% form_for @post do |f| %>
<div class="wrapper">
    <div class="container">
        <div class="edit float-left">
            <label for="title">Title</label><br />
            <input type="text" value="<%= h @post.title %>" name="title" id="title" />
            <br />
            <label for="summary">Summary</label><br />
            <textarea name="summary" id="summary"><%= h @post.summary %></textarea>
            <br />
            <hr />
            <textarea id="content" name="content"><%= h @post.body %></textarea>
            <br />
            <button id="preview">Preview</button>
        </div>
        <div class="preview float-left">
            <h2 id="title"></h2>
            <p id="summary"></p>
            <hr />
            <div id="content"></div>
            <button id="goback">Go back and continue Editing</button>
        </div>
        <div class="clear"></div>
    </div>
</div>
<hr />
<input type="submit" value="Save Changes" />
<% end %>
<%= link_to 'Back', posts_path %>

<% content_for :foot do %>
	<script type="text/javascript" src="/ckeditor/ckeditor.js"></script>
	<script type="text/javascript" src="/ckeditor/adapters/jquery.js"></script>
	<script type="text/javascript" src="/javascripts/artigo-edit.js"></script>
	<script type="text/javascript" src="/javascripts/artigo-ckeditor.js"></script>
    <script type="text/javascript" src="/javascripts/jquery.glow.js"></script>
<% end %>