<em>
	<%= page_entries_info @posts %> <% if admin? %> (<%= link_to "Why not create a new post?", new_post_path %>) <% end %>
</em>

<% @posts.each do |post| %>
<div class="post <%= post.published ? 'published' : 'unpublished' %>">
	<h2 id="title"><%= link_to post.title, permalink(post) %></h2>
	<% if !post.summary.empty? %><div id="summary"><%= post.summary %></div><% end %>
	<small>Written on <%=h post.created_at.strftime("%A, %B %d") %></small>&nbsp;
    <% if logged_in? %>
    <span class="actions hidden">
        You can <%= link_to "View", permalink(post) %>,&nbsp;
        <%= link_to "Edit", edit_post_path(post) %>,&nbsp;or&nbsp;
        <%= link_to "Delete", post, :confirm => "Are you sure?", :method => :delete %> this post.
    </span>
    <% end %>
</div>
<% end %>
<br />
<% content_for :thebottom do %>
	<hr />
	<br />
	<%= will_paginate @posts, :page_links => false, :previous_label => "<< Newer Posts", :next_label => "Older Posts >>",  :params => { :controller => "posts", :action => "page" } %>
	<br />
<% end %>