<em>
	<%= page_entries_info @posts %> <% if admin? %> (<%= link_to "Why not create a new post?", new_post_path %>) <% end %>
</em>

<% @posts.each do |post| %>
<% if !post.published %>
<div class="unpublished">
<% end %>
	<h2 id="title"><%= link_to post.title, permalink(post) %></h2>
	<% if !post.summary.empty? %><div id="summary"><%= post.summary %></div><% end %>
	<small>Written on <%=h post.created_at.strftime("%A, %B %d") %>&nbsp;<em><%= link_to "Delete this post", post, :confirm => "Are you sure?", :method => :delete if logged_in? %></em></small>
<% if !post.published %>
</div>
<% end %>	
<% end %>
<p>&nbsp;</p>
<hr />
<p>&nbsp;</p>
<%= will_paginate @posts, :page_links => false, :previous_label => "Newer Posts", :next_label => "Older Posts",  :params => { :controller => "posts", :action => "page" } %>
<br />
