<% if logged_in? %>
	<p class="<%= 'hidden' if @post.published %> publish">
		This post is currently <strong style="color: red">private</strong>. You need to publish the post before visitors will be able to see it.
		It is recommended that you choose a different date to use when you publish this article.<br /><br />You can use
		<select name="date_type" id="date_type"><option value="default">the current post date</option><option value="today">todays date</option><option value="custom">a custom date</option></select>
		<input name="post_created_at" id="post_created_at" value="<%= @post.created_at.strftime('%m/%d/%Y') %>" class="hidden" /> then <button id="publish">publish</button> your post.
	</p>
	<p class="<%= 'hidden' unless @post.published %> unpublish">
		This post is currently <strong style="color: green">public</strong>. You can <button id="unpublish">unpublish</button> it to disable access to it.
	</p>
	<p id="publish_warning" class="hidden">
		<big>Wait a tick!</big> You've published this post with a newer/different date than it originally had. You really should go to the new permalink url <code class="permalink"></code>. 
		Go there now by clicking <a href="#" class="permalink">this link</a>.
	</p>
<% end %>

<h2 id="title"><%= @post.title %></h2>
<p id="summary">
  <%= @post.summary %>
</p>
<hr />
<div id="content">
  <%= @post.body %>
</div>

<%= link_to 'Back', posts_path %>

<h2>Let's talk about this</h2>
<p><%= "Comments will show when the blog is running in production mode." if is_dev? %></p>
<% if !is_dev? %>
	<div id="disqus_thread"></div>
	<script type="text/javascript">
		/* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
		var disqus_shortname = 'codeimpossible'; // required: replace example with your forum shortname

		// The following are highly recommended additional parameters. Remove the slashes in front to use.
		var disqus_identifier = '<%= @post.permalink %>';
		var disqus_url = window.location.href;

		/* * * DON'T EDIT BELOW THIS LINE * * */
		(function() {
			var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
			dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
			(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
		})();
	</script>
	<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
	<a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
<% end %>
<% if logged_in? %>
	<% content_for :foot do %>
        <script type="text/javascript">
			function publish() {
				put({
					post_published: true,
					date_type: $('#date_type').val(),
					post_created_at: $('#post_created_at').val()
				}, function(d) {
					if( d.post ) {
						
						var post_pub = new Date(d.post.created_at);
						var permalink = "/" + post_pub.getFullYear() + "/" + (post_pub.getMonth()+1) + "/" + post_pub.getDate() + "/" + d.post.permalink;
						
						if( $('#date_type').val() !== 'default' ) {
							// show the message
							$('#publish_warning code.permalink').html( permalink );
							$('#publish_warning a.permalink').attr( 'href', permalink );
							$('#publish_warning').show();
						}
						
						$('#notice').slideDown(function() { $(this).html('Post is now public').glow("#ffff99", 3000); });
						setTimeout(function() {
							$('#notice').slideUp(function(){ $(this).html(''); });
						}, 4000);
						$('.publish').slideUp(function(){ $('.unpublish').slideDown(); });
					}
				});
			}
			
			function unpublish() {
				put({
					post_published: false
				}, function(d) {
					if( d.post ) {
						$('#notice').slideDown(function() { $(this).html('Post is now private.').glow("#ffff99", 3000); });
						setTimeout(function() {
							$('#notice').slideUp(function(){ $(this).html(''); });
						}, 4000);
						$('.unpublish').slideUp(function() { $('.publish').slideDown(); });
					}
				});
			}
			
			function save(event, args) {
				var item = args.editable.obj.first();
				var data = {};
				data[item.attr('id')] = item.html();
				put(data, function(d) {
					if( d.post ) {
						$(args.editable.obj).glow("#ffff99", 3000);
					}
				}, function(d) {
					$(args.editable.obj).html(args.editable.originalContent).glow("#FFBABA", 3000);
				} );
			}
			
			function put(data, success, error) {
				$.ajax({
					url: '/posts/<%= @post.id %>.json',
					data: data,
					dataType: 'json',
					type: 'PUT',
					success: success,
					error: error
				});
			}
			
			(function($) {
				$(function() {
					$('button#publish').click(publish);
					$('button#unpublish').click(unpublish);
					$('#date_type').change(function(){
						$('#post_created_at').toggle( $(this).val() === "custom" );
					});
				});
			})(jQuery);
		</script>
        <script type="text/javascript" src="/javascripts/jquery.json-2.2.min.js"></script>
		<script type="text/javascript" src="/javascripts/jquery.getUrlParam.js"></script>
		<script type="text/javascript" src="/javascripts/jquery.cookie.js"></script>
		<script type="text/javascript" src="/aloha/aloha-custom.js"></script>
        
        <script type="text/javascript" src="/javascripts/jquery.glow.js"></script>
		<script type="text/javascript" src="/javascripts/editorcreate.js"></script>
        
        <script type="text/javascript" src="/aloha/plugins/com.gentics.aloha.plugins.Format/plugin.js"></script>
        <script type="text/javascript" src="/aloha/plugins/com.gentics.aloha.plugins.Table/plugin.js"></script>
        <script type="text/javascript" src="/aloha/plugins/com.gentics.aloha.plugins.List/plugin.js"></script>
        <script type="text/javascript" src="/aloha/plugins/com.gentics.aloha.plugins.Link/plugin.js"></script>
	<% end %>
<% end %>