<h2 id="title"><%= @post.title %> <small>( <%= link_to "Edit", edit_post_path(@post) %> )</small></h2>
<p id="summary">
  <%= @post.summary %>
</p>
<hr />
<div id="content">
  <%= @post.body %>
</div>

<%= link_to 'Back', posts_path %>

<h2>Let's talk about this</h2>
<p><%= "Comments will show when the blog is running in production mode." if is_dev? %></p>
<% if !is_dev? %>
	<div id="disqus_thread"></div>
	<script type="text/javascript">
		var disqus_identifier = <%= @post.id %>;
		(function() {
			var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
			dsq.src = 'http://codeimpossible.disqus.com/embed.js';
			(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
		})();
	</script>
	<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
	<a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
<% end %>
