<!DOCTYPE html>
<html xml:lang="en" lang="en">
  <head>
    <title><%= artigo_config("head_title") %> - Artigo</title>
    <!-- Le <HEAD></HEAD>TML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <%= stylesheet_link_tag 'bootstrap', 'bootstrap-responsive', 'admin', :cache => is_dev? %>
    <%= content_for :head %>
  </head>
  <body>
    <% unless is_active? :controller => "sessions", :action => "new" %>
      <%= render :partial => "admin/shared/navbar" %>
    <% end %>

    <div class="container-fluid">
      <div class="row-fluid">
        <% unless is_active? :controller => "sessions", :action => "new" %>
          <%= render :partial => "admin/shared/sidebar" %>
        <% end %>
        <% if is_active? :controller => "sessions", :action => "new" %>
        <div class="span2">&nbsp;</div>
        <% end %>
        <div class="span10">
          <%= render :partial => "admin/shared/alert" %>

          <% unless is_active? :controller => "sessions", :action => "new" %>
            <h1><%= content_for :thetitle %></h1>
          <% end %>

          <%= yield %>

          <% unless is_active?( :controller => "admin/dashboard", :action => "index") -%>
            <%= link_to "<< Admin Home", :controller => "admin/dashboard", :action => "index" %>
          <% end -%>
          <div class="modal fade hide" id="notEnabled" style="display: none;">
            <div class="modal-header">
              <a class="close" data-dismiss="modal">×</a>
              <h3>Feature Doesn't Exist</h3>
            </div>
            <div class="modal-body">
              <p>Sorry, this feature isn't enabled yet. But we're working on it!</p>
            </div>
            <div class="modal-footer">
              <a href="#" class="btn" data-dismiss="modal">Okay</a>
            </div>
          </div>
        </div>
      </div><!--/row-->

      <hr>

      <footer>
        <div class="row-fluid">
          <div class="span3">
            <p>
              <% cache('blog_stats') do %>
              <%- stats = blog_stats -%>
              Blog stats: <%= stats[:total_posts_public] %> posts are public,
              <%= stats[:total_posts_private] %> are private.
              <% end %>
            </p>
          </div>
          <div class="span3 offset1">
            <p>&copy; Codeimpossible 2012</p>
          </div>
          <div class="span3 offset1">
            <p>
              <%= content_for :thebottom %>
            </p>
          </div>
        </div>
      </footer>

    </div><!--/.fluid-container-->

	  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js"></script>

	  <%= javascript_include_tag 'bootstrap/bootstrap' %>


	  <script type="text/javascript" src="/javascripts/jquery.cookie.js"></script>
	  <script type="text/javascript" src="/javascripts/jquery.glow.js"></script>
	  <script type="text/javascript" src="/javascripts/jquery.cycle.all.js"></script>

	  <%= yield :foot %>

	  <script type="text/javascript" src="/javascripts/artigo-admin.js"></script>
  </body>
</html>
