<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title><%= Artigo::CONFIG["head_title"].first %> - Admin</title>

    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.0/themes/redmond/jquery-ui.css" />
	<%= stylesheet_link_tag 'admin', :cache => is_dev? %>
	<%= content_for :head %>
</head>
<body>
	<div class="page">
		<div class="admin">            
			<div class="thetop">
				<div class="title">
					<h1><a href="/admin">Artigo<span style="color: #666">|Admin</span></a></h1>				
					<p class="welcome">Welcome, <%= current_user.login %>!</p>
				</div>
			</div>

			<div class="clear"></div>

			<p style="color: green" id="notice"><%= flash[:notice] %></p>
			<p style="color: red" id="error"><%= flash[:error] %></p>

			<div class="content">
				<h2><%= content_for :thetitle %></h2>
				<%= yield %>
			</div>
			<div class="thebottom">
				<%= content_for :thebottom %>
			</div>
			<br />
			<div align="center">v0.019</div>
		</div>
	</div>
	
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>	
	<script type="text/javascript" src="/javascripts/jquery.cookie.js"></script>
	<script type="text/javascript" src="/javascripts/jquery.glow.js"></script>
    <%= yield :foot %>
	
	<script type="text/javascript" src="/javascripts/artigo-admin.js"></script>
</body>
</html>
